body	{
	font-family: Arial; font-size: 16px; line-height: 1.5;
	color: #2C3A47; font-weight: 700;
}
.emph	{
	font-size: 36px;
}
.accent	{
	color: #E17055;
	filter: brightness(75%);	/* darken to increase contrast */
}
section.main	{	
	padding: 0 10px;
}
div.grocery_list	{
	display: flex; flex-flow: row wrap;
	justify-content: space-between;
}
div.grocery_item	{
	display: flex; flex-flow: column nowrap;
	background-color: #FFF4D5;
	border: 5px solid #E17055;
	border-top-width: 0;
	border-left-width: 0;
	width: 20%;
	padding: 0.75em; margin: 0.75em 0;
}
div.grocery_item div.qty	{
	text-align: right;
}
div.grocery_item div.emph	{
	border-bottom: medium solid silver;
}
div.grocery_item div.stretch	{
	flex-grow: 1;
}
@media screen and (max-width:767px)	{
		div.grocery_list	{
				justify-content: center;
			}
		div.grocery_item	{
				min-width: 80%;
				min-height: 160px;
			}
		}
@media screen and (min-width:768px) and (max-width:1024px)	{
		section.main	{
				padding: 0 15px;
			}
		}
@media screen and (min-width:1025px)	{
		section.main	{
				margin: 0 auto; max-width: 980px;
			}
	}
